@media only screen and (max-width: 600px) {
    body {
      padding: none;

    }

    #nav {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: none;
        width: 100vw;
        background-color: rgba(244, 148, 116, 0.199);
    }
    
    #nleft {
        display: flex;
        gap: 13px
    }
    #nright a{
        padding: 1vw 2vw;
        border-radius: 10px;
        color:#fff;
        background-color: rgb(238, 74, 53);
    }
    #nav a {
        font-size: 3.1vw;
        text-decoration: none;
        color: #000;
        font-weight: 700;
    }
    
    #nav #centertag {
        display: none ;
        
    }

    #hero {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse  ;
        width: 100%;
        margin-top: 5%;
        padding: 0vw 10vw;
    }
    
    #sustain {
        width: 0vw;
        font-size: 10px;
    }
    
    #sustain p {
        text-transform: capitalize;
        font-weight: 800;
        opacity: .5;
        line-height: 1;
        font-size: 7px;
    }
    
    #sustain #susimagewrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30vh;
        height: 30vw;
    }
    
    #susimagewrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    #ephameral {
        margin-top: 10%;
        position: relative;
        width: 70vw;
        min-height: 40vw;
    }
    
    #ephameral #heading {
        position: absolute;
        top: -40px;
        left: -20%;
        position: relative;
    }
    
    #ephameral h1 {
        letter-spacing: -.4vw;
        font-size: 10vw;
        font-family: 400;
        line-height: 1;
        margin-left: 40px;
    
    }
   
    #visite{
        display: none;
        margin-top: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #visite{
        font-size: 5px;
        border-radius: 10px;
        border: 1px solid black;
        padding: 1vw 2vw;
        margin-bottom: 10px;
    }
    #imageintext p{
        font-size: 5px;
    }
    #imageintext {
        margin-top: 50px;
    }


    #motive{
        font-size: 10px;        
    }
        #onespan{
            width: 20px;
        
        }
        #ftext{
        background-color: rgb(244, 148, 116);
        border: 2px solid rgb(251, 135, 96);
        border-radius: 10px;

        }
        #ftext button{
            padding: 1vw 2vw;
            font-size: 10px;

        }
    #fisrtpic h1{
        font-size:20px;
    }
    }
 