* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
}

#nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 2vw 10vw;
}

#nleft {
    display: flex;
    gap: 30px
}

#nav a {
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
    color: #000;
}

#nav #centertag {
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hero {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15vw;
    padding: 0vw 10vw;
}

#sustain {
    width: 10vw;
}

#sustain p {
    text-transform: capitalize;
    font-weight: 800;
    opacity: .5;
    line-height: 1;
    font-size: 14px;
    margin: 10px 0;

}

#sustain #susimagewrapper {
    width: 100%;
    height: 15vw;
}

#susimagewrapper img {
    /* position: absolute; */
    /* top: 40%;
    left: 50%; */
    /* transform: translate(-50%,-50%); */

    width: 100%;
    height: 100%;
    object-fit: cover;
}

#ephameral {
    position: relative;
    width: 30vw;
    min-height: 40vw;
    /* background-color: rebeccapurple; */
}

#ephameral #heading {
    top: -22%;
    left: -20%;

    position: relative;

}

#ephameral h1 {
    letter-spacing: -.4vw;
    font-size: 6vw;
    font-family: 400;
    line-height: 1;

}

#imageintext {
    width: fit-content;
    height: fit-content;
}

#ephameral img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: -40%;


}

#ephameral p {
    /* position: absolute; */
    font-size: 1vw;
    width: 50%;
    /* top: 100%; */
    letter-spacing: -.1;
    font-weight: 800;
}

#circleV {
    border-radius: 50%;
    border: 1px solid #5e5e5e;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw;
    height: 3vw;
    /* background-color: red; */
}

#circleV i {
    color: #5e5e5e;
}

#e #visite h3 {
    font-weight: 400;
    color: #5e5e5e;
}
#motive{
    margin-top: 7vw-;
    padding: 3vw 10vw;
}
#motive p{
    position:relative ;
    right: 0;
    text-align: right;
    width: 80%;
    font-size: 2vw;
    font-weight: 800;
    /* display: flex;11111 */
    /* align-items: center; */
}
#motive span{
    display: inline-block;  
    width:120px;
    height: 50px;
    margin: 0 13px;
    border-radius: 100px;
    margin-bottom: -12.5px;
    
}
#onespan{
    width: 80px;
    height: 50px;
    background-image: url('./assets/bluegirl.jpg');
    background-size: cover;
    background-position: 0% 60%;

}
#twospan{
    width: 130px;
    height: 60px;
    background-image: url('assets/shaljam.jpg');
    background-size: cover;
    background-position: 0% 48%
}
#threespan{
    width: 130px;
    height: 60px;
    background-image: url('assets/grass.jpg');
    background-size: cover;
   background-position: 0% 48%

}
#pictures{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 8vw;
    padding: 3vw;
    padding-left: 14vw;
    padding-right: 12vw;

}
#firstpic{
    width: 17vw;
}
#firstpic #picimg{
    width: 100%;
    height: 24vw;
    margin-bottom: 1vw;
}
#picimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#firstpic h1, #secpic h1{
    letter-spacing: -.1vw;
    font-weight: 100;
    font-size: 2vw;

}
#firstpic p,#secpic p{
    font-size: 14px;
    margin-top: 10px;
    opacity: .8;


}
#sectpic #picimg{
    width: 100%;
    height: 24vw;
    margin-bottom: 1vw;
}
#secpic{
    width: 25vw;
    flex-direction: column;
    align-items: end;
}
#banner{
    width: 100%;
    margin-top: 8vw;
    display: flex;
    align-items: center;
}
#bimg{
    width: 65%;
    height: 60vh;
}  
#bimg img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: 0% 70%;
    transform: translate();

}
#btext{
    width: 35%;
    padding: 0 3vw;
}
#btext h1{
    font-size: 2.4vw;
    font-weight: 400;
    letter-spacing: -.1vw;
    line-height: 1;

}
#future{
    margin-top: 4%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    border: 2px solid red;
}
#future video{
    /* opacity: 0; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1.2);
    width: 100%;
    height: 100vh;
}
#ftext{
    display: flex;
    flex-direction: column;
    align-items:center ;
    position: relative;
    z-index: 9999;

}
#ftext button{
    text-transform: capitalize;
    margin-top: 10px;
    padding: .8vw 1.7vw;
    font-size: .6vw;
    letter-spacing: -.0vw;
    font-weight: 700;
    border-radius: 100px;
    background-color: #fff;
    border: 1px solid #5e5e5e;
    color: #6f6f6f;
}